<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Siddhi-IO-Grpc-Test-Suite" preserve-order="true">
    <test name="Siddhi-io-grpc-tests" parallel="classes" thread-count="1">
        <classes>
            <class name="io.siddhi.extension.io.grpc.sink.GrpcSinkTestCase"/>
            <class name="io.siddhi.extension.io.grpc.sink.GrpcCallSinkTestCase"/>
            <class name="io.siddhi.extension.io.grpc.source.GrpcSourceTestCase"/>
            <class name="io.siddhi.extension.io.grpc.source.GrpcServiceSourceTestCase"/>
            <class name="io.siddhi.extension.io.grpc.sink.GrpcSinkGenericTestCases"/>
            <class name="io.siddhi.extension.io.grpc.sink.GrpcCallSinkGenericTestCase"/>
            <!-- TODO: Update to a Java version later than 1.8.0_242 in the builder, and uncomment these test cases -->
<!--            <class name="io.siddhi.extension.io.grpc.sink.GrpcSinkAuthTestCase"/>-->
<!--            <class name="io.siddhi.extension.io.grpc.source.GrpcSourceAuthTestCase"/>-->
        </classes>
    </test>
</suite>
